[Desktop Entry]
Type=Service
Name=Gettext Translation
Name[bs]=GetText prijevod
Name[ca]=Traducció del Gettext
Name[ca@valencia]=Traducció del Gettext
Name[cs]=Překlad Gettext
Name[da]=Gettext-oversættelse
Name[de]=Gettext-Übersetzung
Name[el]=Μετάφραση με gettext
Name[en_GB]=Gettext Translation
Name[es]=Traducción de Gettext
Name[et]=Gettexti tõlkefail
Name[fi]=Gettext-käännös
Name[fr]=Traduction de Gettext
Name[ga]=Aistriúchán Gettext
Name[gl]=Tradución Gettext
Name[hu]=Gettext fordítás
Name[it]=Traduzioni di Gettext
Name[kk]=Gettext аудармасы
Name[ko]=Gettext 번역
Name[lt]=Gettext vertimas
Name[mr]=गेटटेक्स्ट भाषांतर
Name[nb]=Gettext-oversetting
Name[nds]=Gettext-Översetten
Name[nl]=Gettext-vertaling
Name[pa]=Gettext ਅਨੁਵਾਦ
Name[pl]=Tłumaczenie Gettext
Name[pt]=Tradução do Gettext
Name[pt_BR]=Tradução gettext
Name[ro]=Traducere Gettext
Name[ru]=Переводы Gettext
Name[sk]=Preklad Gettext
Name[sl]=Prevod Gettext
Name[sr]=Геттекст превод
Name[sr@ijekavian]=Геттекст превод
Name[sr@ijekavianlatin]=Gettext prevod
Name[sr@latin]=Gettext prevod
Name[sv]=Översättning med Gettext
Name[tr]=Gettext Çevirisi
Name[uk]=Переклад Gettext
Name[x-test]=xxGettext Translationxx
Name[zh_CN]=Gettext 翻译
Name[zh_TW]=Gettext 翻譯
X-KDE-ServiceTypes=ThumbCreator
MimeType=text/x-gettext-translation;text/x-gettext-translation-template;
CacheThumbnail=false
IgnoreMaximumSize=true
X-KDE-Library=pothumbnail
Configurable=true
